@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;700&family=Righteous&display=swap');

/* TELA INICIAL */

.tela-inicial {
    background-color: #fb6b6b;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.tela-inicial h1 {
    color: #ffffff;
    font-weight: 400;
    font-size: 36px;
    line-height: 55px;
}

.tela-inicial img {
    width: 136px;
    height: 161px;
    margin-bottom: 25px;
}

.botao-inicio {
    height: 55px;
    width: 250px;

    background-color: #ffffff;

    border: 1px solid #d70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin-top: 30px;
}

.botao-inicio:active {
    opacity: 0.7 ;
}

.botao-inicio h1 {
    font-size: 18px;
    text-align: center;
    color: #d70900;
}

/* TELA INICIAL */

/* TELA CARTAS */

.tela-cartas {
    background-color: #fb6b6b;
    min-height: 100vh;
    width: 100vw;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 10vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;

    margin-top: 10vh;
    margin-bottom: 10vh;
}

.logo img{
    height: 60px;
    width: 52px;
    margin-right: 20px;
}

.logo h1{
    font-size: 36px;

    color: #ffffff;
}

.concluidos {
    height: 10vh;
    width: 100%;

    background-color: #ffffff;


    bottom: 0;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.concluidos h1{
    font-size: 18px;
    color: #333333;
}

/* TELA CARTAS */

/* CARTAS */

.carta > * {
    width: 80vw;
    height: 8vh;

    background-color: #ffffff;

    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);

    border-radius: 5px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carta h1{
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    margin-left: 20px;
}

.carta img{
    margin-right: 20px;
}

/* CARTAS */

/* PERGUNTAS */

.pergunta.ativo {
    height: 16vh;
    background-color: #ffffd5;
    display: flex;
    flex-direction: column;
}

.pergunta.ativo h1{
    position: relative;
    top: 15%;
    width: 90%;

    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.pergunta.ativo img{
    position: relative;
    left: 40%;
    bottom: 10% ;
    width: 30px;
    height: 20px;
    color: #333333;
}

/* PERGUNTAS */

/* RESPOSTAS */

.resposta.ativo {
    height: 16vh;
    background-color: #ffffd5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resposta.ativo h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

    margin-top: 5%;
}

.botoes {
    width: 90%;
    height: 5vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2%;
}

.botao {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.resposta.ativo .botoes .botao h1{
    color: white;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    margin-left: 0;
    margin-top: 0;
}

.respondido {
    text-decoration: line-through;
}

.vermelho {
    background-color: #ff3030;
}

.respondido.ativo.vermelho {
    background-color: #ffffff;
    text-decoration-color: #ff3030;
}

.respondido.ativo.vermelho h1{
    color: #ff3030;
}

.laranja {
    background-color: #ff922e;
}

.respondido.ativo.laranja {
    background-color: #ffffff;
    text-decoration-color: #ff922e;
}

.respondido.ativo.laranja h1{
    color: #ff922e;
}

.verde {
    background-color: #2fbe34;
}

.respondido.ativo.verde {
    background-color: #ffffff;
    text-decoration-color: #2fbe34;
}

.respondido.ativo.verde h1{
    color: #2fbe34;
}



/* RESPOSTAS */

.icones-concluidos {
    width: 100%;
    height: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icones-concluidos img {
    width: 23px;
    height: 23px;
    margin-right: 6px;
}

/* FONTES */

.righteous {
    font-family: 'Righteous', cursive;
}

.recursive {
    font-family: 'Recursive', sans-serif;
}

/* FONTES */

.escondido {
    display: none;
}